<div>
    <h1 class="text-[40px] leading-[47.4px] text-[#3E2753] mb-6 font-medium">Simple booking</h1>
    <p class="leading-[28px] text-[#A39DA9]">Stay in touch with our dog walkers through the chat interface. This makes it easy to discuss arrangements and make bookings. Once the walk has been completed you can rate your walker and book again all through the chat.</p>
</div>