<div class="rounded-[10px] rounded-bl-[4px] bg-[#EEE5F4] max-w-[128px] px-2 py-[6px] mb-2">
    <p class="text-[8px] leading-[11px] text-[#9341C8] ">That sounds great. I’d be happy with that.</p>
</div>

<div class="rounded-[10px] rounded-bl-[4px] bg-[#EEE5F4] max-w-[128px] px-2 py-[6px]">
    <p class="text-[8px] leading-[11px] text-[#9341C8]">Could you send over some pictures of your dog, please?</p>
</div>

<div class="flex justify-end">
    <div class="w-[136px] mt-4 flex flex-col items-end">
        <div class="grid grid-cols-3 gap-2 mb-2">
            <img class="box-shadow w-10 h-10 rounded-[10px]" src="./img/dog-image-1.jpg" alt="">
            <img class="box-shadow w-10 h-10 rounded-[10px]" src="./img/dog-image-2.jpg" alt="">
            <img class="box-shadow w-10 h-10 rounded-[10px]" src="./img/dog-image-3.jpg" alt="">
        </div>

        <div class="box-shadow rounded-[10px] rounded-br-[4px] bg-white max-w-[128px] px-2 py-[6px] mb-2">
            <p class="text-[8px] leading-[11px] text-[#6E5D7E]">Here are a few pictures. She’s a happy girl!</p>
        </div>
        <div class=" box-shadow rounded-[10px] inline-block rounded-br-[4px] bg-white max-w-[128px] px-2 py-[6px]">
            <p class="text-[8px] leading-[11px] text-[#6E5D7E]">Can you make it?</p>
        </div>
    </div>

</div>

<div class="rounded-[10px] rounded-bl-[4px] bg-[#EEE5F4] max-w-[128px] px-2 py-[6px] mt-4">
    <p class="text-[8px] leading-[11px] text-[#9341C8]">She looks so happy! The time we discussed works. How long shall I take her out for?</p>
</div>

<div class="gradient-2 rounded-[10px] rounded-bl-[4px] bg-[#EEE5F4] w-[160px] pl-2 pr-4 pt-[11px] pb-[10px] mt-2">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <div class="w-[12px] h-[12px] outline outline-offset-[-1px] outline-[#E472FF] rounded-full mr-2"></div>
            <p class="text-[8px] leading-[11px] text-white">30 minute walk</p>
        </div>
        <p class="text-xs leading-[11px] font-bold text-white">$29</p>
    </div>
</div>

<div class="gradient-2 rounded-[10px] rounded-bl-[4px] bg-[#EEE5F4] w-[160px] pl-2 pr-4 pt-[11px] pb-[10px] mt-2">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <div class="w-[12px] h-[12px] outline outline-offset-[-1px] outline-[#E472FF] rounded-full mr-2"></div>
            <p class="text-[8px] leading-[11px] text-white">1 hour walk</p>
        </div>
        <p class="text-xs leading-[11px] font-bold text-white">$49</p>
    </div>
</div>