---
title: YATAS
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
---

<div class="visual-left rounded-[255px] absolute left-[-90px] top-[-318px] w-[510px] h-[1018px] z-0"></div>

<div class="">

  <div class="z-50 max-w-[1110px] mx-auto relative grid grid-cols-12 gap-[30px] h-screen items-center ">
    <div class="col-span-5 flex justify-end">
      {% include "iphone/phone.njk" %}
    </div>
    <div class="col-span-5 col-start-7 ">
      {% include "text.njk" %}
    </div>
  </div>

</div>

<div class="visual-left rounded-[255px] absolute right-[-90px] bottom-[-318px] w-[510px] h-[1018px] opacity-[3%] z-0 "></div>